.hello-text {
    font-size: 40px;
}

.petition-text {
    font-size: 25px;
}

.login-body {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.background-ball {
    width: 800px;
    top: -237px;
    left: -237px;
    position: absolute;
    z-index: -1;
    display: none;
}

.login-container {
    width: 100%;
    max-width: 676px;
    padding: 16px;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.login-container-text {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 48px;
}

.start-btn {
    font-size: 24px;
    background-color: #D93F3F;
    color: white;
    border: 0;
    padding: 1rem 2rem;
    width: 115px;
    border-radius: 0 .5rem .5rem 0;
}

.name-input {
    background-color: #E5E5E5;
    border: 0;
    font-size: 24px;
    padding: 1rem;
    width: calc(100% - 115px);
    border-radius: .5rem 0 0 .5rem;
}

.login-footer {
    height: 120px;
    width: 100%;
    background-color: #DD1A1A;
    border-top: 20px solid black;
    position: relative;
}

.login-footer-dot {
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 50%;
    border: 20px solid black;
    position: absolute;

    top: -55px;
    left: calc(50vw - 45px);
}


@media (min-width: 576px) {
    .hello-text {
        font-size: 50px;
    }
}

@media (min-width: 1080px) and (min-height: 950px) {

    .background-ball {
        display: block;
    }
}