.pokedex-body{
    display: flex;
    flex-direction: column;
    max-width: 70.25rem;
    width: 100%;
    margin: 0 auto;
}

.pokedex-top-container{
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    margin-top: 2rem;
}

.welcome-text{
    font-size: 20px;
    margin: 1rem;
}

.filters-container{
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-form{
    width: 100%;
}

.search-input{
    background-color: #E5E5E5;
    border: 0;
    padding: .5rem;
    font-size: 20px;
    width: calc(100% - 96px);
    color: #757575;
    border-radius: .25rem 0 0 .25rem;
}

.search-btn {
    background-color: #D93F3F;
    color: white;
    border: 0;
    padding: .5rem 0;
    width: 96px;
    font-size: 20px;
    border-radius: 0 .25rem .25rem 0;
}

.select-container{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-select-label{
    font-size: 20px;
    color: #757575;
    margin: 0 .5rem;
}

#filter-select{
    font-size: 20px;
    height: 39px;
    padding-left: .2rem;
    background-color: #E5E5E5;
    border: 0;
    width: 190px;
    color: #757575;
    border-radius: .25rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.page-progress{
    border: 2px solid #9F9F9F;
    padding: .5rem 0;
    margin: 0 .2rem;
    border-radius: .25rem;
    width: 84px;
    display: flex;
    justify-content: center;
}

.pagination-btn{
    background-color: #D93F3F;
    border: 0;
    color: white;
    width: 38px;
    margin: 0 .2rem;
    border-radius: .25rem;
}

.no-pokemons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 292px);
}

.no-pokemons-emoji{
    font-size: 130px;
    color: #E5E5E5;
}

.no-pokemons-txt{
    color: #9F9F9F;
}

@media (min-width: 356px){

    .select-container{
        flex-direction: row;
    }
}

@media (min-width: 847px){
    .pokedex-top-container{
        max-width: 847px;
    }

    .filters-container{
        justify-content: space-between;
    }

    .search-form{
        width: 50%;
    }

    .select-container{
        padding-top: 0;
    }
}

@media (min-width: 1124px){
    .pokedex-top-container{
        max-width: 1124px;
    }

    .search-form{
        width: calc(50% - .5rem);
    }
}

@media (min-width: 700px){
    .no-pokemons-container{
        height: calc(100vh - 262px);
    }
}
