.welcome-text-container{
    padding: 3rem 1rem 1rem 1rem;
}

.welcome-text{
    font-size: 20px;
}

.filters-container{
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}

.search-form{
    width: 100%;
}

.search-input{
    background-color: #E5E5E5;
    border: 0;
    padding: .5rem;
    font-size: 20px;
    width: calc(100% - 96px);
    color: #757575;
}

.search-btn {
    background-color: #D93F3F;
    color: white;
    border: 0;
    padding: .5rem 0;
    width: 96px;
    font-size: 20px;
}

.select-container{
    padding-top: 1rem;
}

.filter-select-label{
    font-size: 20px;
    color: #757575;
}

#filter-select{
    font-size: 20px;
    height: 39px;
    padding-left: .2rem;
    background-color: #E5E5E5;
    border: 0;
    width: 190px;
    color: #757575;
}

.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 880px) { 
    .welcome-text-container{
        padding: 1rem;
    }
 }

 @media (min-width: 740px) { 
    .search-form{
        width: 355px;
    }

    .select-container{
        padding-top: 0;
        padding-bottom: 0;
    }

    .filters-container{
        justify-content: space-between;
    }
 }