span{
    color: #D93F3F;
}

.header {
    background-color: #DD1A1A;
    height: 160px;
    padding-bottom: 40px;
    border-bottom: 20px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-logo {
    width: 100%;
    max-width: 431px;
}

.header-dot {
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 50%;
    border: 20px solid black;
    position: absolute;
    right: calc(50% - 45px);
    bottom: -55px;
}

.marginless-txt {
    margin: 0;
}

.weightless-txt {
    font-weight: 400;
}

.d-inline{
    display: inline-block;
}

.light-txt{
    color: #9F9F9F;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.rotate {
    animation: rotation 8s infinite linear;
}

.white-txt{
    color: white;
}

@media (min-width: 700px){
    .header {
        height: 120px;
        align-items: flex-start;
        padding-bottom: 0;
    }

    .header-dot {
        right: 90px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}